@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background: #6117c9;
  background: -moz-linear-gradient(left, #6117c9 0%, #00f8ff 50%, #6117c9 100%);
  background: -webkit-linear-gradient(
    left,
    #6117c9 0%,
    #00f8ff 50%,
    #6117c9 100%
  );
  background: linear-gradient(to right, #6117c9 0%, #00f8ff 50%, #6117c9 100%);
}

.container_app {
  text-align: center;
  margin: 3rem auto;
  width: 400px;
  height: 850px;
  box-shadow: 10px 10px 3px 0.5px;
  border-radius: 20px;
  background-color: rgb(240, 248, 255);
}
h1,
h2 {
  font-family: "Lobster", cursive;
}
